@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   font-size: 100%;
}

.gradient-blur {
   position: fixed;
   z-index: 10;
   inset: 0 0 auto 0;
   @apply h-[24px] md:h-[40px] lg:h-[56px];
   @apply hidden md:block;
   pointer-events: none;
}
.gradient-blur > div,
.gradient-blur::before,
.gradient-blur::after {
   position: absolute;
   inset: 0;
}
.gradient-blur::before {
   content: "";
   z-index: 8;
   backdrop-filter: blur(0.5px);
   mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 12.5%,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 0) 37.5%
   );
}
.gradient-blur > div:nth-of-type(1) {
   z-index: 7;
   backdrop-filter: blur(1px);
   mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 12.5%,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 1) 37.5%,
      rgba(0, 0, 0, 0) 50%
   );
}
.gradient-blur > div:nth-of-type(2) {
   z-index: 6;
   backdrop-filter: blur(2px);
   mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 1) 37.5%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 62.5%
   );
}
.gradient-blur > div:nth-of-type(3) {
   z-index: 5;
   backdrop-filter: blur(4px);
   mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 37.5%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 62.5%,
      rgba(0, 0, 0, 0) 75%
   );
}
.gradient-blur > div:nth-of-type(4) {
   z-index: 4;
   backdrop-filter: blur(8px);
   mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 62.5%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 0) 87.5%
   );
}
.gradient-blur > div:nth-of-type(5) {
   z-index: 3;
   backdrop-filter: blur(16px);
   mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 62.5%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 1) 87.5%,
      rgba(0, 0, 0, 0) 100%
   );
}
.gradient-blur > div:nth-of-type(6) {
   z-index: 2;
   backdrop-filter: blur(32px);
   mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 1) 87.5%,
      rgba(0, 0, 0, 1) 100%
   );
}
.gradient-blur::after {
   content: "";
   z-index: 1;
   backdrop-filter: blur(64px);
   mask: linear-gradient(to top, rgba(0, 0, 0, 0) 87.5%, rgba(0, 0, 0, 1) 100%);
}

svg {
   @apply shrink-0;
}

b,
strong {
   @apply font-medium;
}

.image-wrapper {
   @apply my-3.5;
   @apply max-w-96;
}

.image-link {
   @apply inline-block;
}

.image-link img {
   @apply m-0;
}

.proseStyling {
   @apply prose-a:text-forest-600 hover:prose-a:underline prose-a:dark:text-forest-300;
   @apply prose-img:max-w-full;
   @apply prose-img:rounded-xl prose-img:bg-stone-200 prose-img:transition-transform prose-img:ease-out hover:prose-img:scale-[1.01] prose-img:dark:bg-stone-600/30;
   @apply prose-ul:ml-4 prose-ul:list-inside prose-ul:list-disc prose-ul:p-0 prose-li:m-0 prose-li:p-0;
   @apply prose-ol:ml-0 prose-ol:list-inside prose-ol:list-decimal prose-ol:p-0 prose-li:m-0 prose-li:p-0;
   @apply prose-blockquote:border-l-2 prose-blockquote:border-stone-200 prose-blockquote:dark:border-stone-600/30;
   @apply prose-headings:mb-0 prose-headings:mt-5 prose-headings:font-lora prose-h2:text-[1.25em] prose-h3:text-[1.125em] prose-h4:text-[1.0625em] prose-h5:text-[1.03125em] prose-h6:text-[1em];
   @apply prose-code:rounded-lg prose-code:bg-stone-200 prose-code:px-1 prose-code:py-0.5 prose-code:text-[calc(1em-1px)] prose-code:dark:bg-stone-600/30;
}

code {
   font-family: commit_mono, monospace;
}

.prose-sm * {
   @apply leading-5;
}

.prose-sm {
   p,
   blockquote,
   ul {
      @apply my-3.5;
   }

   .footnotes {
      @apply my-3.5;
   }

   .footnotes hr {
      @apply hidden;
   }

   .footnotes ol {
      @apply ps-0;
   }

   .footnotes p {
      @apply m-0;
   }

   ol > li {
      @apply leading-6;
   }

   ul > li {
      @apply leading-6;
   }

   li > ul {
      @apply my-0;
   }
}

.prose-convo {
   p,
   ul {
      @apply mt-[.5em];
   }

   p:not(:last-child),
   img:not(:last-child),
   ul:not(:last-child) {
      @apply mb-[.5em];
   }

   @apply text-[1em];
}

.prose-sm *,
.prose-convo * {
   text-wrap: pretty;
}

.btn-sm {
   @apply flex;
   @apply w-max;
   @apply items-center;
   @apply justify-between;
   @apply gap-2;
   @apply rounded-lg;

   @apply px-2;
   @apply py-1;
   @apply text-sm;
   @apply transition-transform;
   @apply ease-out;
   @apply hover:scale-[1.01];
   @apply bg-forest-100 dark:bg-forest-200;
   @apply text-forest-700 dark:text-forest-800;
   @apply hover:bg-forest-200 dark:hover:bg-forest-300;
}

.btn-sm-alt {
   @apply flex;
   @apply w-max;
   @apply items-center;
   @apply justify-between;
   @apply gap-2;
   @apply rounded-lg;
   @apply px-2;
   @apply py-1;
   @apply text-sm;
   @apply transition-transform;
   @apply ease-out;
   @apply hover:scale-[1.01];
   @apply bg-stone-200 dark:bg-stone-600;
   @apply text-stone-900 dark:text-stone-300;
   @apply hover:bg-stone-300 dark:hover:bg-stone-700;
}

.btm-sm-alt-gap-1 {
   gap: 0.25rem;
}

.btn-xs {
   @apply flex;
   @apply w-max;
   @apply items-center;
   @apply justify-between;
   @apply gap-2;
   @apply rounded-lg;
   @apply border;
   @apply px-1.5;
   @apply py-0.5;
   @apply text-[calc(1em-1px)];
   @apply shadow-sm;
   @apply transition-transform;
   @apply ease-out;
   @apply hover:scale-[1.015];
}

.details-dropdown {
   @apply cursor-pointer;
   @apply select-none;

   list-style-type: " ";
   @apply bg-[url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5IDkiPjxwYXRoIGZpbGw9IiNBOEEyOUUiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTcuMDE4IDQuNDc1YzAgLjA5OS0uMDE5LjE5LS4wNTcuMjc2YS44MTEuODExIDAgMCAxLS4xNzkuMjQ1TDMuMDI4IDguNjcyYS42My42MyAwIDAgMS0uNDYzLjE5LjY2NS42NjUgMCAwIDEtLjU3LS4zMjQuNjY2LjY2NiAwIDAgMSAuMTE3LS44MWwzLjM0LTMuMjU1LTMuMzQtMy4yNUEuNjU3LjY1NyAwIDAgMSAyLjU2NS4wODhjLjE4MyAwIC4zMzcuMDYyLjQ2My4xODZsMy43NTQgMy42NzhjLjA4LjA3OC4xMzkuMTYuMTc3LjI0NWEuNjguNjggMCAwIDEgLjA2LjI3N1oiLz48L3N2Zz4=)];
   @apply bg-no-repeat;
   background-position: left center;
   background-size: 0.7em;

   @apply pl-[12px];
   @apply -ml-[3px];
}

/* Safari-only padding adjustment */
_::-webkit-full-page-media,
_:future,
:root .details-parent-li {
   @apply ml-[1px];
}

_::-webkit-full-page-media,
_:future,
:root .details-dropdown {
   @apply pl-[calc(1em+10px)];
}

_::-webkit-full-page-media,
_:future,
:root .details-parent-li details ul {
   @apply ml-8;
}

details[open] > .details-dropdown {
   @apply bg-[url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA5IDkiPjxwYXRoIGZpbGw9IiNBOEEyOUUiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTQuMzkgNy4xMTJhLjczNy43MzcgMCAwIDEtLjUyOC0uMjM0TC4xODggMy4xMjFBLjY0LjY0IDAgMCAxIDAgMi42NjMuNjU1LjY1NSAwIDAgMSAuNjU1IDJhLjY2LjY2IDAgMCAxIC40OC4yMDRsMy40NzggMy41NzFINC4xN2wzLjQ3Mi0zLjU3YS42Ni42NiAwIDAgMSAxLjA0NS4xMjJjLjA1OS4xMDEuMDg4LjIxMy4wODguMzM2IDAgLjE3OC0uMDYzLjMzLS4xODkuNDU0bC0zLjY3IDMuNzYxYS44MDUuODA1IDAgMCAxLS4yNDYuMTc1LjY5OS42OTkgMCAwIDEtLjI4LjA2WiIvPjwvc3ZnPg==)];
}

.details-dropdown::-webkit-details-marker,
.dropdown-details::marker {
   display: none;
}

.rl-container a {
   @apply hover:no-underline;
}

.rl-container blockquote {
   @apply flex;
   @apply flex-col;
   @apply gap-3;
   @apply p-4;
   @apply bg-stone-200 dark:bg-stone-600/30;
   @apply border-0;
   @apply rounded-xl;
   @apply transition-transform;
   @apply ease-out;
   @apply text-stone-900 dark:text-stone-100;
   @apply leading-5;
   @apply w-full;
   @apply hover:scale-[1.01];
}

.rl-snippet {
   @apply mt-0 !important;
   @apply mb-0 !important;
   @apply text-stone-600 dark:text-stone-300;
}

.rl-metadata {
   @apply flex;
   @apply items-center;
   @apply shrink;
   @apply gap-3;
   @apply justify-between;
   @apply w-full;
}

.rl-metadata > footer {
   @apply flex;
   @apply flex-col;
   @apply gap-1;
   @apply w-fit;
   @apply max-w-[90%];
}

.rl-title {
   @apply font-normal-mid;
}

.rl-metadata > svg {
   @apply w-[calc(1.25rem-2px)];
   @apply h-[calc(1.25rem-2px)];
   @apply max-[320px]:hidden;
   @apply text-stone-500 dark:text-stone-200;
}

.rl-container blockquote:hover .rl-metadata > svg {
   @apply text-forest-500 dark:text-forest-400;
}

.rl-url-container {
   @apply flex;
   @apply flex-row;
   @apply items-center;
   @apply gap-2;
   @apply overflow-hidden;
}

.rl-url-container > svg {
   @apply w-3.5;
   @apply h-3.5;
}

.rl-url {
   @apply not-italic;
   @apply text-stone-700 dark:text-stone-100;
   @apply truncate;
   @apply max-w-full;
   @apply md:max-w-[345px];
   @apply lg:max-w-[499px];
   @apply xl:max-w-[585px];
}
