@tailwind base;
@tailwind components;
@tailwind utilities;

html {
   font-size: 100%;
}

svg {
   @apply shrink-0;
}

.image-wrapper {
   @apply my-3.5;
}

.image-link {
   @apply inline-block;
}

.image-link img {
   @apply m-0;
}

.prose-sm {
   p,
   blockquote,
   ul {
      @apply my-3.5;
   }
}

.prose-sm * {
   @apply leading-5;
}

.prose-convo {
   p,
   ul {
      @apply mt-[.5em];
   }

   p:not(:last-child),
   img:not(:last-child),
   ul:not(:last-child) {
      @apply mb-[.5em];
   }
}

.prose-sm *,
.prose-convo * {
   text-wrap: pretty;
}

.btn-sm {
   @apply flex;
   @apply w-max;
   @apply items-center;
   @apply justify-between;
   @apply gap-2;
   @apply rounded-lg;
   @apply border;
   @apply px-2;
   @apply py-1;
   @apply text-sm;
   @apply shadow-sm;
   @apply transition-transform;
   @apply ease-out;
   @apply hover:scale-103;
}

.btn-sm-off {
   @apply flex;
   @apply w-max;
   @apply items-center;
   @apply justify-between;
   @apply gap-2;
   @apply rounded-lg;
   @apply border;
   @apply border-gray-200;
   @apply px-2;
   @apply py-1;
   @apply text-sm;
   @apply text-gray-500;
}

.rl-container a {
   @apply hover:no-underline;
}

.rl-container blockquote {
   @apply flex;
   @apply flex-col;
   @apply gap-3;
   @apply p-4;
   @apply bg-gray-50;
   @apply border;
   @apply border-gray-100;
   @apply rounded-xl;
   @apply transition-transform;
   @apply ease-out;
   @apply hover:scale-103;
   @apply text-gray-800;
   @apply leading-5;
   @apply w-full;
}

.rl-snippet {
   @apply mt-0 !important;
   @apply mb-0 !important;
   @apply text-gray-500;
}

.rl-metadata {
   @apply flex;
   @apply items-center;
   @apply shrink;
   @apply gap-3;
   @apply justify-between;
   @apply w-full;
}

.rl-metadata > footer {
   @apply flex;
   @apply flex-col;
   @apply gap-1;
   @apply w-fit;
   @apply max-w-[90%];
}

.rl-title {
   @apply font-normal-mid;
}

.rl-metadata > svg {
   @apply w-[calc(1.25rem-2px)];
   @apply h-[calc(1.25rem-2px)];
   @apply max-[320px]:hidden;
}

.rl-container blockquote:hover .rl-metadata > svg {
   @apply text-blue-500;
}

.rl-url-container {
   @apply flex;
   @apply flex-row;
   @apply items-center;
   @apply gap-2;
   @apply overflow-hidden;
}

.rl-url-container > svg {
   @apply w-3.5;
   @apply h-3.5;
}

.rl-url {
   @apply not-italic;
   @apply text-gray-700;
   @apply truncate;
   @apply max-w-full;
   @apply md:max-w-[345px];
   @apply lg:max-w-[499px];
   @apply xl:max-w-[585px];
}
